<div class="container">
    <div class="auth-container">
        <h2 class="auth-heading">Log In</h2>

        <div id="feedback" class="feedback"></div>

        <form id="login-form">
            <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control"
                    required
                />
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    required
                />
            </div>

            <button type="submit" class="btn btn-block">Log In</button>
        </form>

        <div class="form-footer">
            <p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
        </div>
    </div>
</div>
